header {
    margin-top: 60px;
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 200;
    padding-bottom: 70px;
    background-color: beige;
    width: 100%;
}