<div id="first-section">
    <h2>Featured Books</h2>
    <p class="sec1text">The most popular fiction books are shown below.</p>
    <div id="top-books-container">
      <img
        class="book-image"
        src="../../assets/img1.jpg"
        alt="Cover Page of Monticello"
      />
      <img
        class="book-image"
        id="central-image"
        src="../../assets/img2.jpg"
        alt="Cover Page of Cloud Cuckoo Land"
      />
      <img
        class="book-image"
        src="../../assets/img3.jpg"
        alt="Cover Page of Lauren Groff"
      />
    </div>
    <p class="sec1text">Here is a list of popular fiction books available for sale.</p>
    <table>
      <tr>
        <th class="table-header"></th>
        <th class="table-header">Title</th>
        <th class="table-header">Author</th>
        <th class="table-header">Price</th>
      </tr>
    </table>
    <button id="view-books">Load More Books</button>
  </div>